<% if gain_list.gain %>
	<% item =  gain_list.item %>
	<tr>
		<td><%= item.id %></td>
		  <td>$<%= gain_list.price.present? ? gain_list.price : 0.0 %></td>
		  <td>$<%= item.current_price %></td>
		  <td>$<%= gain_list.gain_price %> </td>
		  <td class="green_txt"><%= gain_list.profit_percent(item.current_price) %> %</td>
		 <td><%= gain_list.tarde_type %> </td>		
	</tr>
<% end %>